.wrapper-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #1e4ccc;
    background-image: linear-gradient(141deg, #4C1ECE 0%, #1e4ccc 51%, #4269D2 75%);
}

.wrapper-login .login-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 340px;
    max-width: 340px;
}

.wrapper-login .login-content .image-content {
    width: 26vw;
    height: 26vw;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #e46717;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.wrapper-login .login-content .image-content img {
    width: 17vw;
    height: 17vw;
}

.wrapper-login .login-content input,
.wrapper-login .login-content button {
    height: 45px;
    margin-top: 2vw;
    border-radius: 10vw;
    border: none;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.3); 
}

.wrapper-login .login-content input {
    padding-left: 10%;
    width: 90%;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
}

.wrapper-login .login-content input::placeholder {
    color: #fff;
}

.wrapper-login .login-content button {
    
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2); 
}

